<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        
        <typeAlias type="com.backend.user.domain.User" alias="user"/>
        <typeAlias type="com.backend.comment.domain.Comment" alias="comment"/>
        <typeAlias type="com.backend.board.domain.Board" alias="board"/>
        <typeAlias type="com.backend.board.dto.BoardQuery" alias="query"/>
        <typeAlias type="com.backend.board.dto.Si" alias="si"/>
        
        <typeAlias type="com.backend.common.dto.PageableWithEmail" alias="pageableWithEmail"/>
        
    </typeAliases>
</configuration>